.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eb5624;
  color: white;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.form {
  margin-bottom: 40px;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.select {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.button {
  background-color: white;
  color: #eb5624;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f4a15d;
}

.table-container {
  max-height: 300px; /* Altura para mostrar alrededor de 5 filas */
  overflow-y: auto; /* Scroll vertical */
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
}

.table th {
  position: sticky;
  top: 0;
  background-color: #eb5624;
  color: white;
  z-index: 1;
}
