.container {
  width: 100%;
  padding: 20px;
  background-color: #f4a15d;
  color: rgb(29, 27, 27);
  text-align: center;
  box-sizing: border-box;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #b0a4a4;
}

.table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #fff;
}

.button {
  padding: 10px 20px;
  background-color: #eedede;
  color: #42180b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #f4a15d;
}

.selected-user {
  background-color: white;
  color: #eb5624;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .table th,
  .table td {
    padding: 8px;
  }
}
