.footer {
  width: 100%;
  background-color: #eb5624;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

.text {
  margin: 0;
  font-size: 14px;
}
