.container {
  padding: 20px;
  background-color: #eb5624;
  color: white;
  min-height: 100vh;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  color: #eb5624;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.upload-container {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .card img {
    height: 150px;
  }
}
.thumbnailContainer {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.thumbnail {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

.description {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}
.sectionDivider {
  border-top: 2px solid white; /* Línea horizontal con color */
  margin: 40px 0; /* Espacio antes y después de la línea */
  width: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Ligeramente desplazado hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Efecto hover de agrandar */
}
